<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="utf-8" />
    <title>Formulario de solicitud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:#EBEBEB">

    <!-- <link rel="stylesheet" href="../Templates/css/estilos.css" /> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.php">Solicitudes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=#">Solicitantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Revisores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="card card-body">
                <br>
                <br>
                <div>
                    <h1>
                        Crear una solicitud
                    </h1>
                </div>
                <hr>
                <div class="container">
                    <div>
                        <h2>
                            Información del solicitante
                        </h2>
                    </div>
                    <form action="" method="POST">
                        <div class=" form-group row my-2 ">
                            <label for=" nombre" class="col-form-label col-sm-2">Nombre</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control requerido" name="nombre" id="nombreSolicitante" placeholder="Nombre del solicitante" maxLength="85" autofocus ">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="primerApellido" class="col-form-label col-sm-2">Primer apellido</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control requerido" name="primerApellido" id="primerApellido" placeholder="Primer Apellido" maxLength="85" >
                            </div>
                        </div>
                        <div class=" form-group row my-2">
                            <label for="segundoApellido" class="col-form-label col-sm-2">Segundo apellido</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control requerido" name="segundoApellido" id="segundoApellido" placeholder="Segundo Apellido" maxLength="85" >
                            </div>
                        </div>
                        <div class=" form-group row my-2">
                            <label for="celular" class="col-form-label col-sm-2">Celular</label>
                            <div class="col-sm-6">
                                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxLength="15" class="form-control requerido" name="celular" id="celular" placeholder="Número de celular" >
                            </div>
                        </div>
                        <div class=" form-group row my-2">
                            <label for="fechaSolicitud" class="col-form-label col-sm-2">Fecha de solicitud</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control " name="fechaSolicitud" id="fechaSolicitud" placeholder="Fecha de solicitud" readonly >
                            </div>
                        </div>
                        <div class=" form-group row my-2">
                            <label for="jefeDirecto" class="col-form-label col-sm-2">Jefe directo</label>
                            <div class="col-sm-6">
                                <select class="form-select" aria-label="Default select example" id="jefeDirectoSolicitante" name="jefeDirectoSolicitante">
                                    <option selected >Seleccione el jefe directo</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div>
                                <h2>
                                    Información de la persona que requiere el permiso
                                </h2>
                            </div>
                            <br>
                            <div class="form-group row my-2">
                                <table id="tablaPersonas" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Seleccionar</th>
                                            <th>Identificación</th>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th>Correo electrónico</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="res">
                                    </tbody>
                                </table>
                                <hr>
                                <div>
                                    <h2>
                                        Datos del ausentismo
                                    </h2>
                                </div>
                                <br>
                                <div class="form-group row col-sm-12 py-6">
                                    <div class="col-4">
                                        <fieldset>
                                            <legend>Cardinalida</legend>
                                            <label>
                                                <input type="radio" name="cardinalidad" id="cardinalidadEntrada" value="1"> Entrada
                                            </label>
                                            <label>
                                                <input type="radio" name="cardinalidad" id="cardinalidadSalida" value="0"> Salida
                                            </label>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <div class=" form-group row">
                                            <label for="fechaInicio" class="col-form-label col-sm-5">Fecha de inicio</label>
                                            <div class="col-sm-7">
                                                <input type="date" class="form-control requerido" name="fechaInicio" id="fechaInicio" placeholder="Fecha de inicio" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class=" form-group row">
                                            <label for="fechaFin" class="col-form-label col-sm-5">Fecha de finalización</label>
                                            <div class="col-sm-7">
                                                <input type="date" class="form-control requerido" name="fechaFin" id="fechaFin" placeholder="Fecha de finalización" >
                                            </div>
                                        </div>
                                    </div>
                                    <span id="errorFechas" type="text" class="text text-danger"></span>
                                    <span id="errorFechasInicioMenorActual" type="text" class="text text-danger"></span>
                                    <span id="errorFechasNoSelecionadas" type="text" class="text text-danger"></span>
                                </div>
                                <div class="form-group row col-sm-12">
                                    <div class="col-4">
                                        <div class=" form-group row">
                                            <label for="horaInicio" class="col-form-label col-sm-5">Hora de inicio</label>
                                            <div class="col-sm-7">
                                                <input type="time" class="form-control requerido" name="horaInicio" id="horaInicio" min="07:00" max="18:00" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class=" form-group row">
                                            <label for="horaFin" class="col-form-label col-sm-5">Hora de finalización</label>
                                            <div class="col-sm-7">
                                                <input type="time" class="form-control requerido" name="horaFin" id="horaFin" min="07:00" max="18:00" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group row col">
                                        <label for="numeroDias" class="col-form-label col-sm-6">Número de días</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="numeroDias" id="numeroDias" placeholder="Número de días" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group row my-2">
                                        <label><input type="checkbox" class="numeroDias" id="lunes" value="1 " onclick="elegirDias(this)"> L </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="martes" value="2 " onclick="elegirDias(this)"> M </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="miercoles" value="3 " onclick="elegirDias(this)"> X </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="jueves" value="4 " onclick="elegirDias(this)"> J </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="viernes" value="5 " onclick="elegirDias(this)"> V </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="sabado" value="6 " onclick="elegirDias(this)"> S </label><br>
                                        <label><input type="checkbox" class="numeroDias" id="domingo" value="0 " onclick="elegirDias(this)"> D </label><br>

                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-1">
                                        <label for="dias m-8">Días</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-group row my-2">
                                <label for="frecuencia" class="col-form-label col-sm-2">Frecuencia</label>
                                <div class="col-sm-6">
                                    <select class="form-select requerido" aria-label="Default select example" id="frecuencia" >
                                        <option selected>Seleccione la frecuencia en que se ausentará</option>
                                        <option value="1">Una vez</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row my-2">
                                <label for="explique" class="col-form-label col-sm-2">Explique</label>
                                <textarea name="explicacion" class="form-control requerido" id="explicaion" cols="30" id="explicacion" rows="10"></textarea>
                            </div>
                            <div class=" form-group row my-2">
                                <label for="jefeDirecto" class="col-form-label col-sm-2">Jefe directo</label>
                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example" id="jefeDirectoPersona" class="form-control requerido" name="jefeDirectoPersona">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span id="error" type="text" class="text text-danger">  

                            </span>
                        </div>
                        <hr>
                        <div class=" form-group row my-2">
                            <input class="btn btn-primary " name="guardar" value="Enviar" onclick="guardarSolicitud()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../Static/js/formularioSolicitud.js" />
    </script>
</body>
            <footer class="footer">
                <div class="container text-center">
                    Todos los derechos reservados &copy 2021 <br>
                    Felipe Otálvaro
                </div>
            </footer>
            
            </html>